body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
  color: #333;
}
h1, h2, h3 {
  color: #2c3e50;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.multiplier-container {
  margin-bottom: 20px;
  text-align: left;
}
.ingredients ul, .collapsible ul, .procedure ol {
  list-style: none;
  padding: 0;
}
.ingredients ul li, .collapsible ul li, .procedure ol li {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}
.ingredients ul li span, .collapsible ul li span, .procedure ol li span {
  display: inline-block;
  margin-right: 10px;
}
.procedure img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}
.wprm-decoration-line {
  border-top: 2px solid #e0e0e0;
  margin-top: 5px;
}

.collapsible {
  margin-top: 20px;
}
.collapsible h3 {
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
}
.collapsible-content {
  display: none;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 10px;
}
.collapsible-content ul {
  list-style-type: none;
  padding: 0;
}
.collapsible-content ul li {
  margin-bottom: 5px;
}