body {
  font-family: Arial, sans-serif;
  margin: 20px 20px 0;
  background-color: #f9f9f9;
  color: #333;
}
h1, h2, h3 {
  color: #2c3e50;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.multiplier-container {
  margin-bottom: 20px;
  text-align: left;
}
.ingredients ul, .collapsible ul, .procedure ol {
  list-style: none;
  padding: 0;
}
.ingredients ul li, .collapsible ul li, .procedure ol li {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}
.ingredients ul li span, .collapsible ul li span, .procedure ol li span {
  display: inline-block;
  margin-right: 10px;
}
.procedure img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 30px 10%;
}
.wprm-decoration-line {
  border-top: 2px solid #e0e0e0;
  margin-top: 5px;
}

.collapsible {
  margin-top: 20px;
}
.collapsible h3 {
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
}
.collapsible-content {
  display: none;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 10px;
}
.collapsible-content ul {
  list-style-type: none;
  padding: 0;
}
.collapsible-content ul li {
  margin-bottom: 5px;
}
.recipe-header {
  position: relative;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
}
.recipe-header h1 {
  margin: 0;
}

.ingredient-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.ingredient-list-item label.ingredient-name {
  flex: 1;
}

.ingredient-amount-unit {
  display: flex;
  align-items: center;
}

.ingredient-amount-unit span {
  margin-left: 5px;
}

.ingredient-list-item input[type="checkbox"] {
  margin-right: 10px;
}

/* Crossed out style for checked items */
.checked{
  text-decoration: line-through;
}


ul#antipasti-list,
ul#primi-list,
ul#secondi-list,
ul#contorni-list,
ul#dolci-list {
  list-style: none;
  padding: 0;
}

/* List item styling */
ul#antipasti-list li,
ul#primi-list li,
ul#secondi-list li,
ul#contorni-list li,
ul#dolci-list li {
  margin-bottom: 10px;
}

/* Link styling */
ul#antipasti-list li a,
ul#primi-list li a,
ul#secondi-list li a,
ul#contorni-list li a,
ul#dolci-list li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #2c3e50;
  background-color: #ecf0f1;
  border: 2px solid #2c3e50;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Link hover effect */
ul#antipasti-list a:hover,
ul#primi-list a:hover,
ul#secondi-list a:hover,
ul#contorni-list a:hover,
ul#dolci-list li a:hover {
  background-color: #2c3e50;
  color: #ecf0f1;
  border-color: #ecf0f1;
}

.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.recipe-header img {
  max-width: 40%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-header .recipe-info {
  flex: 1;
  margin-left: 20px;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-info ul {
  list-style: none;
  padding: 0;
  color: #2c3e50;
}

.recipe-info li {
  margin-bottom: 10px;
}

footer {
  background-color: #f0f0f0;
  text-align: center; /* Center align text in footer */
  padding: 10px 0; /* Padding top and bottom */
  position: sticky; /* Absolute position at the bottom */
  left: 0;
  bottom: 0;
  width: 100%;
}
