body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
  color: #333;
}
h1, h2, h3 {
  color: #2c3e50;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.multiplier-container {
  margin-bottom: 20px;
  text-align: left;
}
.ingredients ul, .collapsible ul, .procedure ol {
  list-style: none;
  padding: 0;
}
.ingredients ul li, .collapsible ul li, .procedure ol li {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}
.ingredients ul li span, .collapsible ul li span, .procedure ol li span {
  display: inline-block;
  margin-right: 10px;
}
.procedure img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 30px 10%;
}
.wprm-decoration-line {
  border-top: 2px solid #e0e0e0;
  margin-top: 5px;
}

.collapsible {
  margin-top: 20px;
}
.collapsible h3 {
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
}
.collapsible-content {
  display: none;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 10px;
}
.collapsible-content ul {
  list-style-type: none;
  padding: 0;
}
.collapsible-content ul li {
  margin-bottom: 5px;
}
.recipe-header {
  position: relative;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
}
.recipe-header h1 {
  margin: 0;
}

.ingredient-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.ingredient-list-item label.ingredient-name {
  flex: 1;
}

.ingredient-amount-unit {
  display: flex;
  align-items: center;
}

.ingredient-amount-unit span {
  margin-left: 5px;
}

.ingredient-list-item input[type="checkbox"] {
  margin-right: 10px;
}

/* Crossed out style for checked items */
.checked{
  text-decoration: line-through;
}
